# See https://atom.io/docs/latest/creating-a-package#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Crystal Block'
      'command': 'crystal-block:go-to-matching-line'
    ]
  }
]
